---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container">
    <h1>Negative Tattoo</h1>
    <h3>Sebastian Aceval</h3>
    <div class="space"></div>
    <div class="space"></div>
    <div class="space"></div>
  </div>
</Layout>
