
---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div class="foo"></div>
  
<script src="../js/three.min.js" />
<script src="vanta.clouds.min.js"></script>
<script>
VANTA.CLOUDS({
  el: "#foo",
  mouseControls: true,
  touchControls: true,
  gyroControls: false,
  minHeight: 200.00,
  minWidth: 200.00,
  skyColor: 0xb568d7,
  cloudColor: 0xe5ab63,
  speed: 3.00
})
</script>
</body>
</html>

