---
import logo from "../img/logo_white.svg";
---

<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src={logo} alt="NegativeTattoo" />
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
        <div></div>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
    height: 150px;
    position: sticky;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  .header .container {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }

  .header img {
    z-index: 100;
    width: 150px;
    transition-duration: 0.3s;
  }
  .header img:hover{

    filter: drop-shadow(0px 0px 5px #fff);
  }

  .header nav ul {
    display: flex;
  }

  .header nav ul li {
    padding: 0 10px;
  }

  .header nav ul li a {
    color: #fff;
  }
</style>
